<h1>Edit Password</h1>

 <form action="/editpassword/{{password.pass_id}}" method="POST">
    <label for="name">Website Name:</label>
    <input type="text" id="name" name="name" value="{{password.name}}" required>

    <label for="login_username">Login Username:</label>
    <input type="text" id="login_username" name="login_username" value="{{password.login_username}}" required>

    <label for="encrypted_password">Encrypted Password:</label>
    <input type="text" id="encrypted_password" name="encrypted_password" value="{{password.encrypted_password}}" required>

    <button type="submit">Save</button>
</form>

<a href="/savedpasswords">Back to Saved Passwords</a>
