<!-- home page with link to register page and login page-->
<h1>Welcome To Password Manager!!!</h1>
<p>
    <a href="/register"><button>Register</button></a>
    <a href="/login"><button>Login</button></a>
</p>

<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/r-jVMNPk8naYNMhr/scene.splinecode"></spline-viewer>